{% extends 'base.html' %}
{% load static %}


{% block content %}
     <section class="patient-area section-padding">
        <div class="container">
            <div class="row">
      <div class="col-lg-9 offset-lg-1 align-self-center">
                    <div class="appointment-form text-center mt-5 mt-lg-0">
                        <h3 class="mb-5">Login</h3>
                        <form action="/user_login" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="username" type="text" placeholder="Enter Your Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Username'" required>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" placeholder="Enter Your Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your password'" required>
                            </div>
                            <button type="submit" name="button"><a>Submit</a></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}
